@font-face {
  font-family: "iconfont"; /* Project id 3307071 */
  src: url('iconfont.woff2?t=1652433454468') format('woff2'),
       url('iconfont.woff?t=1652433454468') format('woff'),
       url('iconfont.ttf?t=1652433454468') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e651";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-yueduxiao:before {
  content: "\e87d";
}

.icon-cai:before {
  content: "\e701";
}

.icon-shoucang1:before {
  content: "\e8b9";
}

.icon-node:before {
  content: "\f1fc";
}

.icon-js:before {
  content: "\ec68";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-xiaochengxu:before {
  content: "\e63e";
}

.icon-react:before {
  content: "\e689";
}

.icon-icfemale:before {
  content: "\e768";
}

.icon-icmale:before {
  content: "\e769";
}

.icon-wenbenshuru:before {
  content: "\e602";
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-loading:before {
  content: "\e61c";
}

.icon-gengduo1:before {
  content: "\e62d";
}

.icon-bianjiwenjian:before {
  content: "\e600";
}

.icon-jia:before {
  content: "\e601";
}

.icon-shanchutianchong:before {
  content: "\e68c";
}

.icon-sanjiaodown:before {
  content: "\e6b5";
}

.icon-sanjiaoright:before {
  content: "\e6b7";
}

.icon-liucheng:before {
  content: "\e60c";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-jibenxinxi:before {
  content: "\e6ac";
}

.icon-shanchu:before {
  content: "\e785";
}

.icon-anemo:before {
  content: "\e60d";
}

.icon-cryo:before {
  content: "\e60e";
}

.icon-dendro:before {
  content: "\e60f";
}

.icon-electro:before {
  content: "\e610";
}

.icon-geo:before {
  content: "\e611";
}

.icon-hydro:before {
  content: "\e612";
}

.icon-pyro:before {
  content: "\e613";
}

